services:
  base:
    image: base:latest
    container_name: base
    build:
      context: .
      dockerfile: ./containers/base/Dockerfile
  ui:
    image: ui:latest
    container_name: ui
    build:
      context: .
      dockerfile: ./containers/ui/Dockerfile
      args:
        - IMAGE=base:latest
    environment:
      - STREAMLIT_SERVER_PORT=${UI_PORT}
#      - BACKEND_HOST=app
#      - BACKEND_PORT=${BACKEND_PORT}
    ports:
      - ${UI_PORT}:${UI_PORT}
  server:
    image: server:latest
    container_name: server
    build:
      context: .
      dockerfile: ./containers/server/Dockerfile
      args:
        - IMAGE=base:latest
    environment:
      - PORT=${SERVER_PORT}
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}