version: "3.8"
services:
    cadaver-exquisito-dev:
        network_mode: host
        image: cadaver-exquisito-dev:latest
        container_name: cadaver-exquisito-dev
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
            args:
                - USER_NAME=vscode
                - USER_UID=999
                - USER_GID=999
        volumes:
            - ..:/workspace:cached
            - $HOME/.ssh/:/home/vscode/.ssh
            - $HOME/.gitconfig:/home/vscode/.gitconfig
        command: /bin/sh -c "while sleep 1000; do :; done"
