version: "3.8"
services:
  cadaver-exquisito-dev:
    network_mode: host
    image: cadaver-exquisito-dev
    container_name: cadaver-exquisito-dev
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        USER_NAME: vscode
        USER_UID: 1000
        USER_GID: 1000
        UI_IMAGE: cadaver-exquisito/ui:latest
        SERVER_IMAGE: cadaver-exquisito/server:latest
    volumes:
      - ..:/workspace:cached
      - $HOME/.ssh/:/home/vscode/.ssh:ro
      - $HOME/.gitconfig:/home/vscode/.gitconfig:ro
    command: /bin/sh -c "while sleep 1000; do :; done"
